body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: black;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.app-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.app-title {
    font-size: 18px;
    font-weight: 300;
}

.add-item-input-container {
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    border-radius: 5px;
}

.add-item-input {
    margin: 5px;
    max-width: 490px;
    max-height: 40px;
    color: darkgray;
    font-size: 25px;
    border-radius: 5px;
}

.additembtn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.add-item-btn {
    margin-top: 15px;
    width: 150px;
    height: 45px;
    background-color: blueviolet;
    color: #000;
    border-radius: 5px;
}

.add-item-btn:hover {
    background-color: rgb(157, 85, 224);
    cursor: pointer;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 15px;
    margin-left: 15px;
    width: 500px;
    height: 400px;
    background-color: bisque;
    border-radius: 5px;
}

.todo-list-title-container {
    margin: 5px;
    max-width: 490px;
    max-height: 30px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo-list-title {
    text-align: center;
    font-size: 25px;
    color: grey;
    position: relative;
}

.new-todo-card {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 490px;
    height: 50px;
    background-color: antiquewhite;
    color: darkcyan
}

.todo-task-title {
    text-decoration: none;
}

.todo-task-title.crossed {
    text-decoration: line-through;
}

.delete-item-btn {
    align-self: center;
    text-align: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.pagination {
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: row;
    color: #000;
    list-style: none;
    text-decoration: none;
    margin-left: 800px;
}

.pagination-button {
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: 80px;
    height: 50px;
    background-color:bisque;
    border: none;
    border-radius: 5px;
}

.pagination-count {
    margin: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    background-color:bisque;
    border: none;
    border-radius: 5px;
}

.pagination-link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: gray;
}